body {
    background: darkcyan;
    user-select: none;
}

.cell {

    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 5px;
}

#gameContainer {
    /* font-family: "Permanent Marker", cursive; */
    text-align: center;
}

#cellContainer {

    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    gap: .5rem;
}

button {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    align-content: center;
    margin-left: 30px;
    text-align: center;
}